<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus totam
      odio in ipsa obcaecati optio asperiores dolor repellat enim adipisci?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
        similique! Magnam doloremque saepe temporibus placeat, veniam natus
        dignissimos eaque explicabo.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus totam
      odio in ipsa obcaecati optio asperiores dolor repellat enim adipisci?
    </p>
  </div>
</section>
